<h2>Prductos</h2>
<hr>

<h3>Agregar productos</h3>

<form id="productForm">
    <input type="text" placeholder="Ingrese el nombre del producto" id="title" name="productName" required>
    <input type="text" placeholder="Ingrse descripcion" id="description" name="description" required>
    <input type="text" placeholder="code" id="code" name="code" required>
    <input type="number" placeholder="Precio" id="price" name="price" required>
    <input type="number" placeholder="Stock" id="stock" name="stock" required>
    <input type="text" placeholder="categoria" id="category" name="category" required>
    <input type="text" name="thumbnail" id="thumbnail" placeholder="thumbnail" required>
</form>

<button id="submit">Add Product</button>
<button id="delete">Eliminar ultimo.</button>

{{#if products}}
    <ul id="listaUp">
        {{#each products}}
            <li>{{this.title}}</li>
        {{/each}}
    </ul>
{{/if}}

<script src="socket.io/socket.io.js"></script>
<script src="js/ws.js"></script>