<h2>Recovery</h2>

<p>Ingresá tu email:</p>
<br>

 <form action="/sessions/sendRecovery" method="post">
        <input type="email" name="email" placeholder="ingrese email">
        <input type="submit" value="Inicio Reseteo">
</form>