<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{{body}}}
    <br><br>

    <a href="/home">Home Page</a>
    <a href="/realtimeproducts">RTP</a>
    <a href="/login">Login Page</a>
    <a href="/register">Registro</a>
    <a href="/profile">Perfil</a>
    <a href="/sessions/logout">Logout</a>
</body>
</html>